<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.coolweather.app" >
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name="com.coolweather.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
                <category android:name="android.intent.category.LAUNCHER"></category>
            </intent-filter>
        </activity>
        <activity android:name="com.coolweather.activity.ChooseAreaActivity"></activity>
        <activity android:name="com.coolweather.activity.MainActivity"
            android:launchMode="singleTask"></activity>
        <service android:name="com.coolweather.service.AutoUpdateWeather"/>
        <receiver android:name="com.coolweather.receiver.AutoUpdataReceiver"/>
    </application>
</manifest>
